@use "../../styles/breakpoints";
@use "../../styles/mixins";
@use "../../styles/sizes";

.main {
  @include mixins.layout-constrained;
}

.header {
  margin: 0;
  background-color: white;

  @include mixins.container-padding;

  @media (min-width: breakpoints.$md) {
    margin: 0 auto;
  }
}

.list {
  list-style: none;
  display: grid;
  margin: 0;
  padding-left: 0;

  @include mixins.container-padding;

  @media (min-width: breakpoints.$md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    justify-content: center;
    gap: 16px;
  }
}
