$primary-red: #e3350d;
$primary-yellow: #ffd700;

$dark-blue: #1a1a2e;
$white: #ffffff;

$border-light: #ccc;

$type-normal: #a8a77a;
$type-fighting: #c22e28;
$type-flying: #a98ff3;
$type-poison: #a33ea1;
$type-ground: #816318;
$type-rock: #7e4011;
$type-bug: #596402;
$type-ghost: #735797;
$type-steel: #b7b7ce;
$type-fire: #ee8130;
$type-water: #6390f0;
$type-grass: #7ac74c;
$type-electric: #f7d02c;
$type-psychic: #f95587;
$type-ice: #96d9d6;
$type-dragon: #4701f9;
$type-dark: #464d70;
$type-fairy: #d685ad;
$type-stellar: #e0c3fc;
$type-unknown: #68a090;

$game-red: hsl(0, 100%, 70%);
$game-blue: #0000ff;
$game-yellow: hsl(51, 100%, 70%);
$game-gold: hsl(46, 65%, 65%);
$game-silver: #c0c0c0;
$game-crystal: #4fd1ff;
$game-ruby: #a00000;
$game-sapphire: #0000a0;
$game-emerald: hsl(144, 100%, 15%);
$game-firered: hsl(16, 100%, 65%);
$game-leafgreen: hsl(120, 61%, 65%);
$game-diamond: #b9f2ff;
$game-pearl: #eac8dc;
$game-platinum: #e5e4e2;
$game-heartgold: hsl(51, 100%, 25%);
$game-soulsilver: #c0c0c0;
$game-black: #000000;
$game-white: #ffffff;
$game-colosseum: #8b0000;
$game-xd: #6a0dad;
