@use "sass:color";
@use "./colors";
@use "./breakpoints";
@use "./sizes";

@mixin focus-styles {
  &:focus,
  &:active {
    outline: 2px solid color.adjust(colors.$primary-red, $alpha: -0.4);
    outline-offset: 3px;
    box-shadow:
      0 0 0 3px colors.$primary-red,
      0 0 4px 6px colors.$primary-red;
    position: relative;
    z-index: 1000;
  }
}

@mixin layout-constrained {
  max-width: sizes.$content-max;
  background-color: colors.$white;
  margin: 0;
  padding: 8px 8px 32px 8px;

  @media (min-width: breakpoints.$sm) {
    padding: 16px 16px 64px 16px;
  }

  @media (min-width: breakpoints.$md) {
    margin: 0 auto;
  }
}

@mixin container-padding {
  padding-top: 8px;

  @media (min-width: breakpoints.$sm) {
    padding-top: 16px;
  }
}
