@use "./colors";

@mixin focus-styles {
  &:focus,
  &:active {
    outline: 2px solid transparentize(colors.$primary-red, 0.4);
    outline-offset: 3px;
    box-shadow:
      0 0 0 3px colors.$primary-red,
      0 0 4px 6px colors.$primary-red;
    position: relative;
    z-index: 1000;
  }
}
