@use "sass:color";
@use "./colors";
@use "./breakpoints";

@mixin focus-styles {
  &:focus,
  &:active {
    outline: 2px solid color.adjust(colors.$primary-red, $alpha: -0.4);
    outline-offset: 3px;
    box-shadow:
      0 0 0 3px colors.$primary-red,
      0 0 4px 6px colors.$primary-red;
    position: relative;
    z-index: 1000;
  }
}

@mixin layout-padding {
  padding: 8px 8px 0 8px;

  @media (min-width: breakpoints.$sm) {
    padding: 16px 16px 0 16px;
  }
}
