@use "../../styles/colors";
@use "../../styles/mixins";
@use "../../styles/breakpoints";
@use "../../styles/sizes";

.item {
  padding: 0.5rem;
}

.link {
  text-decoration: none;
  color: colors.$dark-blue;
  display: grid;
  grid-template:
    "sprite name"
    "sprite dexNo";
  row-gap: 4px;
  column-gap: 8px;
  grid-template-columns: 1fr 1fr;
  min-height: sizes.$sprite;

  @include mixins.focus-styles;

  @media (min-width: breakpoints.$md) {
    grid-template:
      "sprite"
      "name"
      "dexNo";
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.dexNo {
  grid-area: dexNo;
}

.name {
  grid-area: name;
  display: flex;
  align-items: end;
  text-transform: capitalize;

  @media (min-width: breakpoints.$md) {
    justify-content: center;
  }
}

.sprite {
  grid-area: sprite;
  margin-left: auto;

  @media (min-width: breakpoints.$md) {
    margin: 0 auto;
  }
}
